
<template lang="pug">

	//- .locale__wrapper(v-if="$store.state.isLocaleOpened" :class="{ 'notLogined': !$cookies.get('isLoggedIn')}")
	.locale__wrapper(v-show="$store.state.isLocaleOpened" )
		ul
			li(v-for="item in localeOption" @click="changeLang(item.locale)" :class="{ 'active': $i18n.locale == item.locale}")
				h3.chanelSemiBold(v-html="$t(`language.${item.translation_key}`)")

</template>

<script>

export default {
	name: 'locale',

	data() {
		return {
			// localeOption:[{
			// 		locale:'en',
			// 		name:'ENGLISH',
			// 	},{
			// 		locale:'zh',
			// 		name:'繁體中文(香港)',
			// 	},{
			// 		locale:'tw',
			// 		name:'繁體中文(台灣)',
			// 	},{
			// 		locale:'cn',
			// 		name:'简体中文',
			// }],
			defaultLocale: 'en',
			apiData:''
		}
	}, 
	methods: {
		changeLang(item){
			this.$i18n.locale = item
			this.$store.commit('updateLocale', this.$i18n.locale)
			this.$store.commit('toggleLocaleMenu',false)
			this.$store.commit('toggleMemberMenu',false)
		},
		
		fetchApi(){
			this.$axios.get('en/site/languages')
			.then(resp => {
				this.apiData= resp.data.languages
				this.apiData.forEach(element => {
					// if (element.code == 'en') {
					// 	this.defaultLocale = 'en'
					// }
					this.$store.commit('setLanguagesList',element.code)
					
				});
				this.$store.dispatch("getProfile");
			})
			.catch(error => {
				if (error.response.status == 401) {					
					this.$store.commit('openWarningPop',this.$store.state.presetErrorMsg.errorMsg)
				}else{
					let warnData = {
						isOpen: true,
						header: this.$t('warning.other_error.header'),
						content: this.$t('warning.other_error.content') + '\n' + error.response.data.code,
						confirm__btn: this.$t('warning.connection.btn'),
						confirm__target: "/",
						cancel__btn: '',
					}
					this.$store.commit('openWarningPop',warnData)
				}
			});
		}
	},
	mounted() {
		this.fetchApi()
		// this.$store.commit('updateLocale', this.$i18n.locale)
	},
	watch: {
		'$i18n.locale': function(newVal, oldVal) {
			// this.fetchApi()
		}
	},
	computed:{
		localeOption() {
			if( this.apiData != ''){
				return this.apiData?.map(data => {
					return {
						translation_key: data.code.replace('-', '_'),
						locale: data.code,
						name: data.display_name,
					}
				})
			}
		}
	}
}
</script>


<style lang="sass" scoped>
	.notLogined
		&.locale
			&__wrapper
				@media screen and (max-width: $breakpoint-t)
					width: 100%
					left: 0px
					right: auto
					position: absolute
					margin: 0px
					top: 100%
	.locale
		&__wrapper
			position: absolute
			width: 200px
			right: 0px
			top: 30px
			background: #fff
			box-shadow: 0px 3px 15px 0px #00000026
			margin: 0px
			@media screen and (max-width: $breakpoint-tp)
				top: 0px
				position: relative
				width: 80%
				box-shadow: none
				border-top: 1px #DEDEDE solid
				border-bottom: 1px #DEDEDE solid
				margin: 26px auto 0px auto
				h3
					text-align: center
			ul
				padding-left: 0px
				list-style: none
				text-align: left
				margin: 0px
				@media screen and (max-width: $breakpoint-tp)
					margin: 25px 0px 25px 0px
				li
					padding: 13px 10px 13px 15px
					opacity: 0.5
					cursor: pointer
					transition: all 0.4s linear
					&.active
						transition: all 0.4s linear
						opacity: 1
					@media screen and (max-width: $breakpoint-tp)
						&:first-child
							padding-top: 0px
						&:last-child
							padding-bottom: 0px




</style>
