

<template lang="pug">
	.footer
		.footer__top
			.container
				| 首頁
				img(src="@/assets/images/paging.png")
		.footer__middle
			.container
				.left__footer
					img(src="@/assets/images/footer_logo.png" style="width:auto ")
				.right__footer
					.back_to_top(@click="scrollToTop()")
						img(src="@/assets/images/back_to_top.png" style="width:auto ")
					.nav__group
						.nav__items
							.nav__header
								a(@click="scrollToSection('about_us')")
									| 關於我們
							.nav__item
								a(@click="scrollToSection('corp__intro')")
									| 企業簡介
							.nav__item
								a(@click="scrollToSection('vision')")
									| 使命及願景
							.nav__item
								a(@click="scrollToSection('partnership')")
									| 聯營企業夥伴
							.nav__item
								a(@click="scrollToSection('leading_team')")
									| 領導團隊
						.nav__items
							.nav__header
								a(@click="scrollToSection('effect')")
									| 協同效應

							.nav__header
								a(@click="scrollToSection('contact_us')")
									| 聯絡我們
					
							.contact__group
								.contact__row
									.label
										| 電話
									.label
										| +852 2625 0633
								.contact__row
									.label
										| 傳真
									.label
										| +852 3547 7348

								.contact__row
									.label
										| 郵箱
									.label
										| info@licafreshfruit.com
		.footer__bottom
			.container
				| © 2022 Lica Fresh Fruit International Limited. All Rights Reserved.			
		



</template>

<script>


import memberBtn from '@/components/layout/memberMenu.vue'
import localeBtn from '../widget/locale.vue'

export default {
	name: 'Header',
	components: {
		localeBtn,
		memberBtn,
	},
	data() {
		return {
		}
	},
	methods: {
		scrollToTop(){
			window.scrollTo({ top: 0, behavior: 'smooth' });
		},
		scrollToSection(target){
			let targetOffset = (document.getElementById(target).offsetTop) - 100;
		 
			window.scrollTo({ top: targetOffset, behavior: 'smooth' });
		}


	},
	watch:{
		'$i18n.locale': function(newVal, oldVal) {
			document.documentElement.setAttribute('lang', this.$i18n.locale);
		}
	},
	mounted() {
	},

}
</script>


<style lang="sass">


	body
		margin: 0px

</style>
<style lang="sass" scoped>
@import '../../assets/_variables.sass'
.footer
	.footer__top
		-webkit-box-shadow: 0px -20px 40px 0px rgba(0,0,0,0.1)
		box-shadow: 0px -20px 40px 0px rgb(0 0 0 / 10%)
		color: #51656F
		padding: 40px 0px
		.container
			color: #51656F
			font-size: 1.5rem
		img
			width: auto
			display: inline-block
			vertical-align: middle
			padding-left: 10px
	.footer__middle
		background-color: #F1F2ED
		border-top: 1px solid $yellow-color
		padding: 64px 0px 70px 0px
		@media screen and (max-width: $breakpoint-t)
			padding: 40px 0px
		&>.container
			display: flex
			align-items: center
			@media screen and (max-width: $breakpoint-t)
				display: block
	.footer__bottom
		background-color: $yellow-color
		padding: 30px 0px
		.container
			color: #51656F
			font-size: 1.3rem

	.left__footer
		flex: 1
		&>img
			@media screen and (max-width: $breakpoint-t)
				width: 100%
				max-width: 130px
	.right__footer
		position: relative
		flex: 2
		border-left: 1px solid $yellow-color
		@media screen and (max-width: $breakpoint-t)
			border-left: 0px solid $yellow-color
			padding-top: 20px

	.back_to_top
		position: absolute
		right: 0px
		top: 0px
	.nav__group
		display: flex
		font-size: 1.5rem
		@media screen and (max-width: $breakpoint-t)
			display: block
	.nav__header
		margin-bottom: 20px
		color: $orange-color
		border-left: 2px $orange-color solid 
		padding-left: 10px
	.nav__item
		color: #51656F
		margin-bottom: 20px
	.nav__items
		padding-left: 20%
		@media screen and (max-width: $breakpoint-t)
			padding-left: 0%



	.copyright
		position: absolute
		bottom: 0px
		left: 0%
		width: 100%
		text-align: left
		background: #FFB71B
		padding: 15px 0px
		padding-left: 4%
		font-size: 0.8rem
	.contact
		.contact__group
			padding-top: 15px
		&__row			
			margin-bottom: 10px
			color: #51656F
			@media screen and (max-width: $breakpoint-md +1 )
				text-align: left
			.label
				display: inline-block
				padding-right: 30px
				&:last-child
					padding-right: 0px
		&__item
			display: inline-block
			margin-right: 30px
			&:last-child
				margin-right: 0px
			&>div
				display: inline-block
				vertical-align: middle
				


</style>
