

<template lang="pug">
	.header
		.header__container
			.mobile__menu_btn(@click="openMobileMenu")
				span
				span
				span
			.logo
				img(src="@/assets/images/logo.png")

		.left__header(:class="[isMobileMenu ? 'active' : '']")
			.mobile__menu_close_btn(@click="openMobileMenu")
				span
				span
			.nav__items
				.nav__item
					a(@click="scrollToSection('about_us')")
						| 關於我們
				.nav__item
					a(@click="scrollToSection('corp__intro')")
						| 企業簡介
				.nav__item
					a(@click="scrollToSection('vision')")
						| 使命及願景
				.nav__item
					a(@click="scrollToSection('partnership')")
						| 聯營企業夥伴
				.nav__item
					a(@click="scrollToSection('leading_team')")
						| 領導團隊


</template>

<script>


import memberBtn from '@/components/layout/memberMenu.vue'
import localeBtn from '../widget/locale.vue'

export default {
	name: 'Header',
	components: {
		localeBtn,
		memberBtn,
	},
	data() {
		return {
			isMobileMenu: false,
		}
	},
	methods: {
		scrollToSection(target){
			let targetOffset = (document.getElementById(target).offsetTop);
		 
			window.scrollTo({ top: targetOffset, behavior: 'smooth' });
			this.isMobileMenu = false
		},
		openMobileMenu(){
			this.isMobileMenu = !this.isMobileMenu
		},

	},
	watch:{

		'$i18n.locale': function(newVal, oldVal) {
			document.documentElement.setAttribute('lang', this.$i18n.locale);
		}
	},
	mounted() {
	},

}
</script>


<style lang="sass">


	body
		margin: 0px

	.locale
		@media only screen and (min-width: $breakpoint-t)
			position: relative
		&__btn
			cursor: pointer
			img
				width: 100%


</style>
<style lang="sass" scoped>
@import '../../assets/_variables.sass'
.header
	border-top: 13px solid #FFB71B
	padding: 33px 0px 46px 0px
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	z-index: 9999
	background: #fff
	@media screen and (max-width: $breakpoint-s )
		padding: 15px 0px
	&::before
		content: ''
	&__group_btn
		display: flex
		&>div
			margin-right: 15px
			&:last-child
				margin-right: 0px
	&__container
		max-width: 1670px
		width: 100%
		margin: 0 auto
		position: relative

	.left__header
		position: absolute
		top: 131px
		right: -100%
		transform: translate(0%, 0%)
		z-index: 6
		display: block
		transition: right 0.4s ease-in-out
		@media screen and (max-width: $breakpoint-s )
			top: 82px
		@media screen and (max-width: $breakpoint-t )
			width: 100%
			height: 100vh
			position: fixed
			z-index: 20
			top: 0px
			background-color: #d4d4d4
		&.active
			right: 0px
			transition: right 0.4s ease-in-out

	.nav__items
		display: block
		padding-top: 50px
		background-color: #d4d4d4
		padding-bottom: 30px
		@media screen and (max-width: $breakpoint-t )
			padding-left: 15px
			padding-right: 15px
		.nav__item
			transition: all 0.4s linear
			background-color: #d4d4d4
			border-bottom: 6px transparent solid
			padding: 13px 100px
			text-align: center
			&:hover
				border-bottom: 6px $orange-color solid
				background-color: $yellow-color
				transition: all 0.4s linear
			a
				font-size: 1.7rem
				

.logo
	width: 100%
	max-width: 97px
	margin: 0 auto
	@media screen and (max-width: $breakpoint-t )
		max-width: 60px
	img
		width: 100%
		
.nav
	&__menu
		right: 10%
		position: absolute
		display: flex
		top: 50%
		transform: translateY(-50%)
		@media screen and (max-width: $breakpoint-t)
			right: 10px
		&_desktop
			display: flex
			&>div
				margin-left: 40px
				&:first-child
					margin-left: 0px	
			@media screen and (max-width: $breakpoint-tp)
				display: none



.mobile__menu_btn,
.mobile__menu_close_btn
	position: absolute
	right: 4%
	top: 50%
	transform: translateY(-50%)
	width: 40px
	cursor: pointer
	span
		background-color: $orange-color
		width: 100%
		height: 3px
		display: block
		margin-bottom: 7px
		&:last-child
			margin-bottom: 0px	
.mobile__menu_close_btn
	top: 4%
	transform: translateY(0px)
	display: none
	@media screen and (max-width: $breakpoint-t)
		display: block
	span:first-child
		margin-bottom: 0px
		transform: rotate(45deg)
		transform-origin: 40%
	span:last-child
		transform-origin: 50%
		margin-bottom: 0px
		transform: rotate(135deg)

</style>
