<template lang="pug">
	.cards
		img(
			v-if="img"
			:src="img"
		)
		.title(
			v-if="title"
			v-html="title"
		)
		.name(
			v-if="name"
			v-html="name"
		)
		.desc(
			v-if="desc"
			v-html="desc"
		)
		.cta(@click="openPopUp()")
			img(src="@/assets/images/read_more.png")
			span 閱讀更多
				
</template>

<script>


	export default {
		name: 'cards',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			img: String,
			title: String,
			name: String,
			desc: String,
			popText: String,
		},
		methods: {
			openPopUp() {
				let data = {
					pic: this.img,
					title: this.title,
					name: this.name,
					desc: this.desc,
					popText: this.popText,
				}
				this.$store.commit('setPopupData',data)
				this.$store.commit('togglePopup',true)
			},
		},
		mounted() {
		},
		computed:{

		}

	}
</script>



<style lang="sass" scoped>
	.title
		font-size: 1.4rem
		padding-top: 40px
		color: $orange-color
	.name
		font-size: 2.8rem
		padding-top: 20px
	.desc
		font-size: 1.4rem
		padding-top: 40px
		min-height: 230px
	.cta
		font-size: 1.4rem
		text-align: right
		padding-top: 20px
		img
			width: auto
			vertical-align: middle
			display: inline-block
		span
			cursor: pointer
			vertical-align: middle
			display: inline-block
			margin-left: 10px
			position: relative
			&:after
				content: ''
				position: absolute
				width: 100%
				height: 2px
				background-color: #FFB01C
				bottom: -5px
				right: 0px
</style>
