<template lang="pug">
	.four_boxs
		.boxs_row(v-for="singleData in data" :key="singleData.id")
			.boxs_pic
				img(:src="singleData.image")
			.boxs_content
				.logo
					img(:src="logo_small")
				.desc(v-html="singleData.desc")
</template>

<script>

	import logo from '@/assets/images/logo_icon.png';

	export default {
		name: 'four_boxs',
		components: {
		},
		data() {
			return {
				logo_small: logo
			}
		},
		props:{
			data: Array,
		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass" scoped>

	.four_boxs
		flex: 1
		.boxs
			&_row
				display: flex
				flex-direction: row
				align-items: stretch
				@media screen and (max-width: $breakpoint-xs)
					flex-direction: column-reverse
				&:first-child
					flex-direction: row-reverse
					@media screen and (max-width: $breakpoint-xs)
						flex-direction: column-reverse
			&_pic
				flex: 1
			&_content
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				background: #eee7dd4d
				flex: 1
				@media screen and (max-width: $breakpoint-xs)
					padding: 50px
				.logo
					width: auto
					padding-bottom: 20px
				.desc
					line-height: 2
					font-size: 1.2rem
</style>
