<template lang="pug">
	.full_width_section(:class="[top_logo ? 'with__logo' : '']")
		.logo(v-if="top_logo")
			img(:src="top_logo")
		img(:src="pic")
		.content_bg_image(:class="[content_bg ? 'active' : '']")
			img(:src="content_bg_image")
			.content
				.text__group
					.header(v-html="header")
					.desc(v-html="desc" v-if="desc")
					a.cta(:href="cta.desc" v-if="cta.href" :class="[content_bg ? 'green__btn' : 'blue__btn']")
						.text(v-html="cta.text")
</template>

<script>


	export default {
		name: 'full_width_section',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			pic: String,
			content_bg: Boolean,
			content_bg_image: String,
			top_logo: String,
			header: String,
			cta: Object,
		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass" scoped>

	.full_width_section
		display: block
		position: relative
		&.with__logo
			margin-top: 120px
			@media screen and (max-width: $breakpoint-s )
				margin-top: 70px
		.content
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		.logo
			position: absolute
			top: 0%
			left: 50%
			transform: translate(-50%,-50%)
			@media screen and (max-width: $breakpoint-s )
				max-width: 100px
		.content_bg_image.active
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			@media screen and (max-width: $breakpoint-t +1)
				width: 80%
			@media screen and (max-width: $breakpoint-xs)
				width: 90%
			.content
				transform: translate(-50%, -40%)
			.text__group
				color: $orange-color
				.header
					margin-bottom: 20px
					@media screen and (max-width: $breakpoint-s )
						margin-bottom: 0px
				.text
					color: #fff
</style>
