<template lang="pug">
	.full_width_section
		.text__group
			.header(v-html="header")
			.desc(v-html="desc" v-if="desc")
			a.cta.green__btn.round__radius
				.text(v-html="cta.text")
</template>

<script>


	export default {
		name: 'full_width_section',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			desc: String,
			header: String,
			cta: Object,
		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass" scoped>

	.full_width_section
		display: block
		position: relative

		.content
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		.content
			transform: translate(-50%, -40%)
		.text__group
			.header
				font-size: 2.1rem
				font-weight: bold
			.desc
				color: #222222
				text-align: center
				padding-bottom: 35px
</style>
