<template lang="pug">
	.image_swiper
		swiper(ref='mySwiper' :options='swiperOptions')
			swiper-slide(v-for="slide in slides" :key="slide.id")
				a(:href="slide.href")
					img(:src="slide.image")
		.swiper-pagination
		a.green__btn.cta(:href="cta.href" v-if="cta")
			.text(v-html="cta.text")







</template>

<script>


	export default {
		name: 'image_swiper',
		components: {
			
		},
		data() {
			return {
				swiperOptions: {
					autoplay: {
						delay: 5000,
					},
					slidesPerView: 1,
					navigation: {
						nextEl: '.swiper-nav__group .swiper-button-right',
						prevEl: '.swiper-nav__group .swiper-button-left'
					},
					pagination: {
						el: '.swiper-pagination',
						type: 'bullets',
					},
				}
			}
		},
		props:{
			slides:Array,
			cta:Object,
		},
		computed: {
			swiper() {
				return this.$refs.mySwiper.$swiper
			}
		},

	}
</script>



<style lang="sass">
	.section__1
		.swiper-pagination
			bottom: 5%
			left: 50%
			transform: translateX(-50%)
			@media screen and (max-width: $breakpoint-t +1)
				bottom: 10%
		.swiper-pagination-bullet
			width: 18px
			height: 18px
			margin: 0px 20px
			background: transparent
			border: 1px #fff solid
			opacity: 1
			@media screen and (max-width: $breakpoint-t +1)
				width: 10px
				height: 10px
				margin: 0px 5px
			&:last-child
				margin-right: 0px	
			&:first-child
				margin-left: 0px
		.swiper-pagination-bullet-active
			background: #fff
			position: relative
			&::after
				content: ''
				position: absolute
				width: 150%
				height: 150%
				border: 1px #fff dashed
				border-radius: 100%
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
			// border: 1px #fff dashed
		.swiper-wrapper
			box-sizing: border-box

		.image_swiper
			position: relative
			.swiper-slide
				// padding: 10px 0px
			.cta
				margin-top: 60px
				color: #fff
</style>
