

<template lang="pug">
	.header
		.header__container
			.left__header
				.nav__items
					.nav__item
						a
							| 關於我們
					.nav__item
						a
							| 服務範圍
					.nav__item
						a
							|訂購條款
					.nav__item
						a
							| 聯絡我們
			.logo
				img(src="@/assets/images/logo.png")
			.right__header
				.slogan
					| Deluxe fruit has been personally hand-selected
				.header__group_btn
					.facebook
						img(src="@/assets/images/header_facebook.png")
					.ig
						img(src="@/assets/images/header_ig.png")
					.locale
						.locale__btn
							img(src="@/assets/images/header_lang.png")
						localeBtn
		



</template>

<script>


import memberBtn from '@/components/layout/memberMenu.vue'
import localeBtn from '../widget/locale.vue'

export default {
	name: 'Header',
	components: {
		localeBtn,
		memberBtn,
	},
	data() {
		return {
			showPrintBtn: false,
			isPdfLoading: false
		}
	},
	methods: {
		toggleLocaleMenu(data) {
			this.$store.commit('toggleLocaleMenu',data)
			this.$store.commit('toggleMemberMenu',false)

		},
		toggleMemberMenu(data) {
			this.$store.commit('toggleMemberMenu',data)
			this.$store.commit('toggleLocaleMenu',false)
		},

	},
	watch:{

		'$i18n.locale': function(newVal, oldVal) {
			document.documentElement.setAttribute('lang', this.$i18n.locale);
		}
	},
	mounted() {
	},

}
</script>


<style lang="sass">


	body
		margin: 0px

	.locale
		@media only screen and (min-width: $breakpoint-t)
			position: relative
		&__btn
			cursor: pointer
			img
				width: 100%


</style>
<style lang="sass" scoped>
@import '../../assets/_variables.sass'
.header
	padding: 33px 0px 46px 0px
	&__group_btn
		display: flex
		&>div
			margin-right: 15px
			&:last-child
				margin-right: 0px
	&__container
		max-width: 1670px
		width: 100%
		margin: 0 auto
		position: relative
	.slogan
		max-width: 260px
		width: 100%
		margin-right: 150px
		color: $yellow-color
	.left__header
		position: absolute
		left: 4%
		top: 50%
		transform: translateY(-50%)
	.right__header
		position: absolute
		right: 4%
		top: 50%
		display: flex
		transform: translateY(-50%)
	.nav__items
		display: flex
		.nav__item
			color: $yellow-color
			transition: all 0.4s linear
			margin-right: 63px
			&:last-child
				margin-right: 0px
			&:hover
				color: $green-color
				transition: all 0.4s linear
				

.logo
	width: 100%
	max-width: 97px
	margin: 0 auto
	img
		width: 100%
		
.nav
	&__menu
		right: 10%
		position: absolute
		display: flex
		top: 50%
		transform: translateY(-50%)
		@media screen and (max-width: $breakpoint-t)
			right: 10px
		&_desktop
			display: flex
			&>div
				margin-left: 40px
				&:first-child
					margin-left: 0px	
			@media screen and (max-width: $breakpoint-tp)
				display: none


</style>
