
<template lang="pug">

	.member__wrapper(v-show="$store.state.isMemberMenuOpened" )
		ul
			li(@click="redirectHistory")
				h3.chanelSemiBold {{$t("member.saved_camellia")}}
			li.mobile__only( style="position: relative" v-if="$isMobile() && !$store.state.isInQuestion")
				span(@click="langToggle" style="display: inline-block;")
					h3.chanelSemiBold {{$t("member.language")}}
				.langIcon
					img(src="@/assets/images/down-arrow.svg" v-if="!$store.state.isLocaleOpened")
					img(src="@/assets/images/up-arrow.svg" v-if="$store.state.isLocaleOpened")
				.mobile__locale(:class="{ 'active': $store.state.isLocaleOpened}")
					localeBtn
			li
				h3.chanelSemiBold(@click="appendLogout()") {{$t("member.sign_out")}}
				#logout_btn(style="opacity:0;")
					form(method="post" action="/auth/logout")
						input#logout_click(type="submit" value="Logout")

</template>

<script>

import localeBtn from '../widget/locale.vue'
export default {
	name: 'member',
	components: {
		localeBtn
	},
	data() {
		return {
			memberOption:['saved_camellia','sign_out'],
			defaultTimeCounter: 60, //mins
			countingTime: 1,
			countFunction: null,


			oldActiveTime: null,
			newActiveTime: null,
		}
	},
	mounted() {

		this.countTime()
	},
	methods: {
		
		redirectHistory(){
			this.$router.push('/history')
			this.$store.commit('toggleMemberMenu',false)
		},
		langToggle(){
			this.$store.commit('toggleLocaleMenu',!this.$store.state.isLocaleOpened)
		},
		appendLogout(){
			// const form = document.createElement("form");
			// form.setAttribute("method", "post");
			// form.setAttribute("action", "/auth/logout");
			// const logoutButton = document.createElement("input");
			// logoutButton.setAttribute("type", "submit");
			// logoutButton.setAttribute("value", "Logout");
			// form.appendChild(logoutButton);
			// document.getElementById("logout_btn").appendChild(form);
			document.getElementById("logout_click").click()
		},
		resetCountTime() {
			clearInterval(this.countFunction);
			this.countingTime = 1
		},
		countTime() {
			let _this = this
			let defaultTimeCounterInSec = _this.defaultTimeCounter*60



			document.addEventListener("visibilitychange", function() {
				if (document.visibilityState === 'visible') {
					// _this.newActiveTime = Date.now()
					_this.$store.commit('setNewActiveTime',Date.now())
					if ((_this.$store.state.newActiveTime - _this.$store.state.oldActiveTime)/1000 > defaultTimeCounterInSec) {
						// _this.oldActiveTime = _this.newActiveTime
						_this.$store.commit('setOldActiveTime',_this.$store.state.newActiveTime)
						_this.appendLogout()
					}
				

					// clearInterval(_this.countFunction);
					// _this.countingTime = 1

				} else if (document.visibilityState === 'hidden') {
					if (_this.$store.state.oldActiveTime == null) {
						// _this.oldActiveTime = Date.now()
						_this.$store.commit('setOldActiveTime',Date.now())
					}
					// _this.countFunction = window.setInterval(counter, 1000);
				}
			}, false);




			function counter() {
				if (defaultTimeCounterInSec == _this.countingTime) {
					_this.resetCountTime()
					_this.appendLogout()
				} else {
					_this.countingTime++ 
				}
			}
		}
	},
}
</script>

<style lang="sass">
	.mobile__locale
		height: 0px
		opacity: 0
		overflow: hidden
		transition: height 0.7s ease-in-out
		&.active
			opacity: 1
			height: 240px
			transition: height 0.7s ease-in-out
	#logout_btn form
		opacity: 0
		height: 1px
	.member
		position: relative
		margin-left: 20px
		@media only screen and (min-width: $breakpoint-t)
			margin-left: 40px
</style>
<style lang="sass" scoped>
	.mobile__only
		display: none
		@media only screen and (max-width: $breakpoint-tp)
			display: block
	.langIcon
		display: inline-block
		margin-left: 10px
	.member
		&__wrapper
			position: absolute
			width: 206px
			right: 0px
			top: 30px
			background: #fff
			box-shadow: 0px 3px 15px 0px #00000026
			@media screen and (max-width: $breakpoint-tp)
				top: 100%
				width: 100%
				// transform: translateY(3px)
				box-shadow: none
			ul
				padding-left: 0px
				list-style: none
				text-align: left
				margin: 20px 0px 20px 0px
				@media screen and (max-width: $breakpoint-tp)
					margin: 35px 0px 35px 0px
				li
					padding: 13px 0px 13px 15px
					font-size: 1rem
					line-height: 1.5
					cursor: pointer
					@media screen and (max-width: $breakpoint-tp)
						text-align: center
						padding: 13px 0px 13px 0px
					&:first-child
						padding-top: 0px
					&:last-child
						padding-bottom: 0px

</style>
