<template lang="pug">
	.popup(:class="[$store.state.isPopUpOpen ? 'active' : '']")
		.popup__mask
		.popup__wrapper
			.popup__delete(@click="closePopUp")
				| ╳

			.popup__img
				img(
					:src="$store.state.popUpData.pic"
					
				)
			.popup__content
				.title(
					v-html="$store.state.popUpData.title"
				)
				.name(
					v-html="$store.state.popUpData.name"
				)
				.desc(
					v-html="$store.state.popUpData.popText"
				)
</template>

<script>


	export default {
		name: 'popup',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			isOpenning: true
		},
		methods: {
			closePopUp() {
				this.$store.commit('togglePopup', false)
			},
		},
		

	}
</script>



<style lang="sass" scoped>
	.popup
		position: fixed
		top: 50%
		left: 50%
		width: 100%
		height: 100%
		transform: translate(-50%, -50%)
		z-index: 2
		opacity: 0
		pointer-events: none
		transition: all 0.2s ease-in-out
		&.active
			transition: all 0.2s ease-in-out
			opacity: 1
			pointer-events: auto
	.popup__delete
		position: absolute
		top: 5%
		right: 5%
		cursor: pointer
		@media screen and (max-width: $breakpoint-t)
			top: 1%
			right: 1%
	.popup__mask
		background: #000000b3
		z-index: 1
		width: 100%
		height: 100%
		position: fixed
	.popup__wrapper
		border: 15px #FFB71B solid
		border-radius: 10px
		background: #fff
		display: flex
		padding: 90px
		position: relative
		z-index: 2
		width: 80%
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		@media screen and (max-width: $breakpoint-t)
			display: block
			padding: 20px
			overflow-y: auto
			max-height: 80%
	.popup__img
		flex: 1
		img
			width: auto
			max-width: 100%
			@media screen and (max-width: $breakpoint-t)
				max-width: 100%
	.popup__content
		flex: 2
		padding-left: 20px
		@media screen and (max-width: $breakpoint-t)
			padding-left: 0px
			padding-top: 10px
	.title
		font-size: 1.4rem
		color: $orange-color
	.name
		font-size: 2.8rem
		padding-top: 20px
	.desc
		font-size: 1.4rem
		padding-top: 40px
		min-height: 230px
		@media screen and (max-width: $breakpoint-t)
			padding-top: 20px

</style>
