<template lang="pug">
	.post_share
		.content
			.text__group
				.header(v-html="header")
				.desc(v-html="desc")
				.swiper-nav__group
					img.swiper-button-left(src="@/assets/images/swiper_left.png" slot='button-prev')
					img.swiper-button-right(src="@/assets/images/swiper_right.png" slot='button-next')
		.posts__wrapper
			swiper(ref='mySwiper' :options='swiperOptions')
				swiper-slide(v-for="post in posts" :key="post.id")
					userPost(
						:href='post.href'
						:pic='post.pic'
						:desc='post.desc'
						:user='post.user'
						:remark='post.remark'
					)






</template>

<script>

	import userPost from '../layout/userPost.vue'

	export default {
		name: 'post_share',
		components: {
			userPost
		},
		data() {
			return {
				swiperOptions: {
					slidesPerView: 2,
					spaceBetween: 10,
					navigation: {
						nextEl: '.swiper-nav__group .swiper-button-right',
						prevEl: '.swiper-nav__group .swiper-button-left'
					},
					breakpoints: {
						550: {
							slidesPerView: 1.3,
							
						},
						768: {
							slidesPerView: 2,
							
						},
						991: {
							slidesPerView: 1.7,
							
						},
					},
				}
			}
		},
		props:{
			header:String,
			desc:String,
			posts:Array,
		},
		computed: {
			swiper() {
				return this.$refs.mySwiper.$swiper
			}
		},

	}
</script>



<style lang="sass" scoped>

	.post_share
		display: flex
		position: relative
		@media screen and (max-width: $breakpoint-t +1)
			flex-direction: column-reverse
		.content
			display: flex
			justify-content: center
			align-items: center
			flex: 2
			background-color: $orange-color
			@media screen and (max-width: $breakpoint-t +1)
				padding: 30px 0px
		.posts__wrapper
			flex: 4
			display: flex
			max-width: 70%
			@media screen and (max-width: $breakpoint-t +1)
				max-width: 100%
			.swiper-slide
				padding: 10px 0px
		.swiper-nav__group
			img
				width: auto
			.swiper-button-left,
			.swiper-button-right
				cursor: pointer
				&.swiper-button-disabled
					opacity: 0
					pointer-events: none
			.swiper-button-left
				margin-right: 10px
			.swiper-button-right
				margin-left: 10px
</style>
