<template lang="pug">
	.right_text_left_text.clearfix
		.leadin__wrapper(data-aos="fade-up")
			.leadin(v-html="leadin")
		.text__group(data-aos="fade-up")
			.tagline(v-html="tagline")
			.main_text(v-html="main_text")
			//- a.cta.green__btn(:href="cta.href" v-if="cta")
			//- 	.text(v-html="cta.text")
</template>

<script>


	export default {
		name: 'right_text_left_text',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			leadin: String,
			tagline: String,
			main_text: String,

		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass">
	@media screen and (max-width: $breakpoint-t)
		.right_text_left_text .tagline br
			display: none
</style>


<style lang="sass" scoped>

	.right_text_left_text
		display: flex
		margin: 100px 0px
		align-items: center
		@media screen and (max-width: $breakpoint-th +1)
			margin: 60px 0px
			display: block
		.text__group
			text-align: left
			background-color: #ffb81c1a
			flex: 3
			border-radius: 30px 0px 0px 30px
			padding: 124px 0px
			@media screen and (max-width: $breakpoint-m )
				padding: 44px 10px
			.tagline
				font-size: 1.4rem
				color: $orange-color
				display: block
				margin: 0 auto
				max-width: 600px
				padding-bottom: 20px
			.main_text
				font-size: 1.4rem
				display: block
				margin: 0 auto
				max-width: 600px

		.leadin__wrapper
		
			flex: 2
			position: relative
			transform: translate(10%, -100%)
			text-align: right
			@media screen and (max-width: $breakpoint-th +1)
				transform: translate(0%, 0%)
				text-align: left
				padding-left: 10px
				padding-bottom: 40px
		.leadin
			display: inline-block
			font-size: 2.8rem
			color: $green-color
			padding-left: 27px
			border-left: 5px $green-color solid


</style>
