<template lang="pug">
	.right_pic_left_text.clearfix
		.content
			.pic
				img(:src="pic")
			.text__group
				.header(v-html="header")
				.desc(v-html="desc")
				//- a.cta.green__btn(:href="cta.href" v-if="cta")
				//- 	.text(v-html="cta.text")
</template>

<script>


	export default {
		name: 'right_pic_left_text',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			pic: String,
			header: String,
			desc: String,
			cta: Object,
		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass" scoped>

	.right_pic_left_text
		// display: flex
		// z-index: 1
		// @media screen and (max-width: $breakpoint-t +1)
		// 	flex-direction: column
		.text__group
			text-align: left
			@media screen and (max-width: $breakpoint-th +1)
				padding-top: 30px
			.header
				font-size: 2.4rem
				color: $orange-color
				position: relative
				margin-bottom: 40px
				padding-bottom: 0px
				display: inline-block
				&:after
					position: absolute
					content: ''
					background-color: $orange-color
					width: 100%
					height: 1px
					bottom: 0px
					left: 0px
			.desc
				padding-bottom: 0px
				font-size: 1.7rem
			.cta.green__btn
				background-color: #fff
				border: $orange-color 1px solid
				padding: 10px 40px
				color: $orange-color
				font-size: 1.4rem

		.pic
			position: absolute
			right: 0%
			transform: translate(70%, -50%)
			top: 50%	
			@media screen and (max-width: $breakpoint-th +1)
				position: relative
				right: 0%
				transform: translate(0%, 0%)
				top: 0%	

		.content
			// display: flex
			// flex: 2
			// align-items: center
			// justify-content: center
			position: relative
			background: #fff
			border-radius: 10px
			padding: 108px 286px 108px 139px
			width: 70%
			-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1)
			box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1)
			@media screen and (max-width: $breakpoint-m )
				padding: 108px 236px 108px 59px 
			@media screen and (max-width: $breakpoint-t +1)
				padding: 30px 0px
			@media screen and (max-width: $breakpoint-th +1)
				padding: 40px
				width: 100%
</style>
