<template lang="pug">
	.section_header
		.container
			.header(v-html="header" v-if="header")
			.desc(v-html="desc" v-if="desc")
</template>

<script>


	export default {
		name: 'section_header',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			header: String,
			desc: String,
		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass" scoped>

	.section_header
		border-top: 13px solid #FFB71B
		background-color: $green-color
		padding: 30px 0px
		@media screen and (max-width: $breakpoint-t +1)
		.header
			font-weight: bold
			color: $white-color
			font-size: 4.6rem
			display: inline-block
			@media screen and (max-width: $breakpoint-t +1)
				display: block
				padding-left: 0px
		.desc
			color: $white-color
			font-size: 1.7rem
			display: inline-block
			padding-left: 40px
			@media screen and (max-width: $breakpoint-t +1)
				display: block
				padding-top: 10px
				padding-left: 0px

</style>
