<template lang="pug">
	.square_image_one_text.clearfix
		.text__group
			.header(v-html="header")
			.desc(v-html="desc")
		.img__items(v-for="image in images" :key="image.id")
			.img__item
				img(:src="image")
</template>

<script>


	export default {
		name: 'square_image_one_text',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			header: String,
			desc: String,
			images: Array,
		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass" scoped>

	.square_image_one_text
		flex: 1
		position: relative
		.img__item
			line-height: 0
		.img__items
			float: left
			width: 50%
			// padding-right: 10px
			// padding-bottom: 10px
			@media screen and (max-width: $breakpoint-xs)
				width: 100%
			&:nth-child(2)
				padding-bottom: 0px
			// &:last-child,
			// &:nth-child(3)
			// 	padding-bottom: 0px
		.text__group
			flex-direction: column
			text-align: left
			position: relative
			display: flex
			padding-left: 4%
			padding-top: 4%
			float: left
			width: 50%
			@media screen and (max-width: $breakpoint-xs)
				width: 100%


			.desc
				font-size: 1.1rem
			.header
				position: relative
				margin-bottom: 50px
				padding-bottom: 20px
				font-size: 2.8rem
				color: #222222
				&:after
					content: ''
					background: #00AFAA
					height: 10px
					position: absolute
					width: 25%
					left: 0px
					bottom: 0px
	</style>
