<template lang="pug">
	.square_image
		img(:src="pic")
		.text__group
			.header(v-html="header")
</template>

<script>


	export default {
		name: 'square_image',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			pic: String,
			header: String,
		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass" scoped>

	.square_image
		flex: 1
		position: relative
		.text__group
			position: absolute
			top: 15%
			transform: translate(-50%, 0%)
			left: 50%
			width: fit-content
			.header
				color: #fff
			&:after
				content: ''
				background: #FFB71B
				height: 15px
				position: absolute
				width: 50%
				left: 0px
				@media screen and (max-width: $breakpoint-xs)
					width: 100%
	</style>
