<template lang="pug">
	.three__modules(:class="square__position")
		img.three__modules_banner(
			v-if="content.img"
			:src="content.img"
			data-aos="fade-up"
		)
		.main__content_wrapper.clearfix
			.main__content(data-aos="fade-up" :class="text__colour")
				.desc(v-html="content.desc" v-if="content.desc")  
				.points(v-if="content.points")
					.point( v-for="point in getArray" :key="content.id")
						span(v-html="point.id" style="padding-right:10px;")
						span(v-html="point.text")
			.text__group(:class="square__bg" data-aos="fade-up")
				.cat(v-html="content.box.cat" v-if="content.box.cat") 
				.title(v-html="content.box.title" v-if="content.box.title") 
				.desc(v-html="content.box.desc" v-if="content.box.desc") 
</template>

<script>


	export default {
		name: 'three__modules',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
			type: String,
			content: Object,
			text_group_bg: String,
		},
		methods: {


		},
		mounted() {
		},
		computed:{
			square__bg() {
				if( this.text_group_bg == 'gold'){
					return 'gold__bg'
				}else if( this.text_group_bg == 'green'){
					return 'green__bg'
				}else if( this.text_group_bg == 'orange'){
					return 'orange__bg'
				}
			},
			text__colour() {
				if( this.text_group_bg == 'gold'){
					return 'gold__text'
				}else if( this.text_group_bg == 'green'){
					return 'green__text'
				}else if( this.text_group_bg == 'orange'){
					return 'orange__text'
				}
			},
			getArray(){
				return this.content.points?.map((element, index) => {
					return {
						id: index+1+')',
						text: element,
					}
				})

			},
			square__position() {
				if( this.type == 'left'){
					return 'left__square'
				}else if( this.type == 'right'){
					return 'right__square'
				}
			}
		}

	}
</script>



<style lang="sass" scoped>

	.gold__bg
		background-color: #B89C70
	.green__bg
		background-color: $green-color
	.orange__bg
		background-color: $orange-color

	.main__content_wrapper
		@media screen and (max-width: $breakpoint-th +1)
			display: flex
		@media screen and (max-width: $breakpoint-t +1)
			flex-direction: column-reverse



	.three__modules
		display: block
		position: relative
		z-index: 2
		padding-top: 230px
		margin-bottom: 230px
		@media screen and (max-width: $breakpoint-th +1)
			padding-top: 100px
			margin-bottom: 90px
		&.right__square
			text-align: right
			.main__content
				float: right
			.text__group
				left: 0px
		&+.three__modules
			margin-bottom: 230px
			padding-top: 0px
			@media screen and (max-width: $breakpoint-th +1)
				margin-bottom: 90px
		&:last-child
			@media screen and (max-width: $breakpoint-th +1)
				margin-bottom: 0px
				padding-bottom: 90px
		.three__modules_banner
			width: 90%
			@media screen and (max-width: $breakpoint-th +1)
				width: 100%
		.main__content
			padding-top: 90px
			max-width: 50%
			padding-left: 38px
			@media screen and (max-width: $breakpoint-th +1)
				flex: 1
				padding-left: 0px
			@media screen and (max-width: $breakpoint-t +1)
				max-width: 100%
			.desc
				font-size: 2rem
				padding-left: 27px
				border-left: 5px $green-color solid
			&.gold__text
				.desc
					border-left: 5px #B89C70 solid
			&.green__text
				.desc
					border-left: 5px $green-color solid
			&.orange__text
				.desc
					border-left: 5px $orange-color solid
			.points
				padding-top: 40px
				font-size: 1.4rem
				.point
					text-indent: -30px
					padding-left: 30px
					padding-bottom: 10px
					@media screen and (max-width: $breakpoint-t)
						text-indent: -23px
					&:last-child
						padding-bottom: 6px
			&.gold__text
				.point span:first-child
					color: #B89C70
			&.green__text
				.point span:first-child
					color: $green-color
			&.orange__text
				.point span:first-child
					color: $orange-color


		.text__group
			padding: 90px
			border-radius: 10px
			position: absolute
			right: 0px
			bottom: 40px
			max-width: 666px
			color: $white-color
			@media screen and (max-width: $breakpoint-m )
				padding: 50px
				max-width: 486px
			@media screen and (max-width: $breakpoint-th +1)
				flex: 1
				position: relative
			@media screen and (max-width: $breakpoint-t +1)
				max-width: 100%
				bottom: 0px
				margin-top: 50px
			.cat
				font-size: 1.7rem
				font-weight: bold
				padding-bottom: 25px
			.title
				font-size: 3.5rem
			.desc
				padding-top: 75px
				padding-bottom: 0px
				font-size: 1.7rem
</style>
