<template lang="pug">
    .user__post
        .content
            a(:href="href")
                .user__group
                    .user__profile
                    .user(v-html="user")
                img(:src="pic")
                .content__group
                    .desc(v-html="desc")
                    .remark(v-html="remark")
</template>

<script>

	import userPost from '../layout/userPost.vue'

	export default {
		name: 'user_post',
		components: {
		},
		data() {
			return {
			}
		},
		props:{
            href:   String,
            pic:    String,
            desc:   String,
            user:   String,
            remark:   String,
		},
		methods: {


		},
		mounted() {
		},

	}
</script>



<style lang="sass" scoped>

    .user
        &__group
            display: flex
            align-items: center
            padding: 33px 0px 33px 23px
        &__profile
            margin-right: 15px
            background: grey
            width: 20px
            height: 20px
            border-radius: 50%
    .user__post
        display: block
        position: relative
        background: #fff
        border-radius: 20px
        box-shadow: 10px 5px 5px #a8a8a8
        margin: 0px 10px
        .user
            text-align: left
        .content__group
            padding: 33px 55px
            text-align: left
            .remark
                padding-top: 70px

</style>
