<template lang="pug">

	.section.section__7
		img(
			:src="section7.banner"
		)
		sectionHeader(
			header="聯絡我們"
		)
		.container
			.contact_us__wrapper
				.text__wrapper
					.leadin__row(data-aos="fade-up")
						|若果想了解更多資訊，或有任何疑問
						br
						| 歡迎使用以下方式聯絡我們：
					.text__row(data-aos="fade-up")
						span 電話
						span +852 2625 0633
					.text__row(data-aos="fade-up")
						span 傳真
						span +852 3547 7349
					.text__row(data-aos="fade-up")
						span 郵箱
						span info@licafreshfruit.com
					.text__row(data-aos="fade-up")
						span 地址
						span
							| 香港 尖沙咀東 科學館道9號
							br
							| 新東海商業中心12樓 1209-1212A室 

				.map__wrapper
					iframe(width="100%" height="100%" src="https://maps.google.com/maps?q=%E6%96%B0%E6%9D%B1%E6%B5%B7%E5%95%86%E6%A5%AD%E4%B8%AD%E5%BF%83&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0")




</template>

<script>



import img_11 from '../../assets/images/11.jpg';

import sectionHeader from '@/components/layout/sectionHeader.vue'


export default {
	name: 'Section7',
	data() {
		return {

			section7:{
				banner: img_11, 
			},


		}
	},
	components: {
		sectionHeader,
	},

	watch:{
		// '$store.state.localePrefix': function(newVal, oldVal) {
		// 	if (newVal != '') {
		// 		this.fetchApi()
		// 	}
		// }
	},


}
</script>

<style lang="sass">

</style>
<style lang="sass" scoped>
	.text__wrapper
		flex: 1
		padding-bottom: 100px
	.map__wrapper
		flex: 1
		@media screen and (max-width: $breakpoint-th +1)
			margin-bottom: 40px
		iframe
			border-radius: 10px
			@media screen and (max-width: $breakpoint-th +1)
				height: 500px
	.contact_us__wrapper
		margin: 230px 0px 210px 0px
		display: flex
		@media screen and (max-width: $breakpoint-th +1)
			flex-direction: column-reverse
			margin: 100px 0px 0px 0px

	.leadin__row
		font-size: 1.7rem
		line-height: 3rem
		padding-left: 10px
		border-left: 5px $green-color solid
		margin-bottom: 70px
	.text__row
		padding-bottom: 20px
		@media screen and (max-width: $breakpoint-xs)
			display: flex
		&:first-child
			padding-bottom: 0px
		span
			font-size: 1.7rem
			display: inline-block
			vertical-align: top
			display: inline-block
			min-width: 100px
		@media screen and (max-width: $breakpoint-xs)
			span
				&:first-child
					flex: 1
				&:last-child
					flex: 4
		



</style>