<template lang="pug">


	.section.section__3.beige__bg
		.container
			.module(data-aos="fade-up")
				leftTextRightPic(
					:pic="section3[0].image"
					:header="section3[0].header"
					:desc="section3[0].desc"
					:cta="section3[0].cta"
				)
			//- .module
			//- 	rightTextLeftPic(
			//- 		:pic="section3[1].image"
			//- 		:header="section3[1].header"
			//- 		:desc="section3[1].desc"
			//- 		:cta="section3[1].cta"
			//- 	)


</template>

<script>




import img_2 from '../../assets/images/2.jpg';
import img_3 from '../../assets/images/3.jpg';



import leftTextRightPic from '@/components/layout/leftTextRightPic.vue'
import rightTextLeftPic from '@/components/layout/rightTextLeftPic.vue'




export default {
	name: 'section3',
	data() {
		return {

			section3:[
				{
					image: img_2,
					header: '企業簡介',
					desc: '利佳鮮果國際有限公司於2019年成立，由母公司東成鮮有限公司、台灣最具規模水果貿易商之一和新生鮮有限公司(Rings Fresh Corp.)及資深銷售顧問李冠緯先生齊手創立，進行企業間互相間的交易(B2B)的商業運作，將各自專長的領域合併並一起發揮，以拓展全面銷售渠道，配合不同市場需求，以達至利潤最大化。',
					cta: {
						text:'更多資訊',
						href:'#',
					}
				}

			],



		}
	},
	components: {
		leftTextRightPic,
		rightTextLeftPic
	},

	watch:{
		// '$store.state.localePrefix': function(newVal, oldVal) {
		// 	if (newVal != '') {
		// 		this.fetchApi()
		// 	}
		// }
	},


}
</script>

<style lang="sass">



</style>
<style lang="sass" scoped>


</style>