<template lang="pug">


    .section.section__4.beige__bg
        img(
            :src="section4.banner"
        )
        sectionHeader(
            header="聯營合作夥伴"
            desc="綜合各方資源拓展全面的銷售渠道"
        )
        .container
            threeModules(
                type="left"
                text_group_bg="gold"
                :content="section4.content[0]"
            )
            threeModules(
                type="right"
                text_group_bg="green"
                :content="section4.content[1]"
            )
            threeModules(
                type="left"
                text_group_bg="orange"
                :content="section4.content[2]"
            )


</template>

<script>





import img_4 from '../../assets/images/4.jpg';
import img_5 from '../../assets/images/5.jpg';
import img_6 from '../../assets/images/6.jpg';
import img_7 from '../../assets/images/7.jpg';




import threeModules from '@/components/layout/threeModules.vue'
import sectionHeader from '@/components/layout/sectionHeader.vue'



export default {
	name: 'section4',
	data() {
		return {

			section4:{
				banner: img_4,
				content: [
					{
						img:img_5,
						box:{
							cat:'聯營企業夥伴',
							title:'東成鮮果有限公司',
							desc:'1995年於香港成立，現為中、港、澳最大的澳洲及美國新鮮水果進口商之一。透過25年來的拓展和發展，不斷增加與全球不同供應商的聯繫及合作，於全球各地引進具當地風情及特色的蔬果，帶到香港及其他地方。'
						},
						desc:'東成憑藉多年來豐富的產業知識和實力，團隊具備以下條件，成為有信譽的蔬果進口商:',
						points:['與超過20個國家供應商合作，蔬果種類眾多','擁有廣泛的地理範圍和行業知識','行內擁有優良聲譽，長期擁有穩定合作的客戶','提供最具透明度資訊給予客戶','銷售團隊提供實時的市場信息，質量報告和銷售解決方案','擁有多年市場營銷策劃及項目銷售的經驗'],
					},
					{
						img:img_6,
						box:{
							cat:'聯營企業夥伴',
							title:'和新生鮮',
							desc:'台灣水果貿易業界最具規模、聲譽與競爭力的領先者，於2014年集結多位20年以上水果貿易經驗的團隊，以至高熱忱將世界上合作夥伴的水果產品做最佳化的銷售通路配置，並以最豐富的產業知識與獨一無二的行銷實力，幫助多種產品取得同業中無以競爭的成就。'
						},
						desc:'和新生鮮具有長期且恆久的競爭力，為全台灣唯一同時具備下列條件之業界領導者：',
						points:['最廣泛的通路配置與銷售能力，擁有完整多溫層冷藏倉儲與包裝產線服務','最負盛名的產品供需數據分析能力與營運全流程高效數位化','最具信譽的供應商關係/客戶關係','台灣業界唯一設有全職行銷廣告部門且直營電子商務的水果貿易商','實現南北半球跨國供果園、包裝廠投資','植物品種權專利企劃能力'],
					},
					{
						img:img_7,
						box:{
							cat:'聯營企業夥伴',
							title:'李冠緯先生',
							desc:'利佳鮮果國際有限公司的執行董事。負責公司的全球採購以及台灣和大陸華中與華北部分公司的分銷。'
						},
						desc:'李冠緯先生擁有豐富的銷售業務經驗，推動企業聯營發展：',
						points:['具有農產品經營的家族背景','擁有企業管理學學歷及豐富知識','擁有傑出的銷售業務表現及經驗','具備與超過8個國家的採購商洽商經驗','具有到海外管理批發貿易以及推動零售部門的豐厚經驗','於台灣擁有廣泛人脈，推動更多企業之間的合作'],
					},
				],
			},



		}
	},
	components: {
		threeModules,
		sectionHeader
	},

	watch:{
		// '$store.state.localePrefix': function(newVal, oldVal) {
		// 	if (newVal != '') {
		// 		this.fetchApi()
		// 	}
		// }
	},


}
</script>

<style lang="sass">



</style>
<style lang="sass" scoped>


</style>