<template lang="pug">


	.section.section__3.beige__bg
		.container
			//- .module
			//- 	leftTextRightPic(
			//- 		:pic="section3[0].image"
			//- 		:header="section3[0].header"
			//- 		:desc="section3[0].desc"
			//- 		:cta="section3[0].cta"
			//- 	)
			.module(data-aos="fade-up")
				rightTextLeftPic(
					:pic="section3[0].image"
					:header="section3[0].header"
					:desc="section3[0].desc"
					:cta="section3[0].cta"
				)


</template>

<script>




import img_2 from '../../assets/images/2.jpg';
import img_3 from '../../assets/images/3.jpg';



import leftTextRightPic from '@/components/layout/leftTextRightPic.vue'
import rightTextLeftPic from '@/components/layout/rightTextLeftPic.vue'




export default {
	name: 'section3',
	data() {
		return {

			section3:[
				{
					image: img_3,
					header: '使命和願景',
					desc: '現時利佳積極拓展銷售渠道，讓優質產品接觸更多不同客群。於台灣，利佳與零售商緊密合作，例如大潤發、家樂福、全聯福利中心、楓康超市、惠康等。<br>不論現在或將來，旨在透過創新達致多樣化，不論業務、水果行業、生產線上等都可以有所創新，豐富更多的項目和品種。',
					cta: {
						text:'更多資訊',
						href:'#',
					}

				}

			],



		}
	},
	components: {
		leftTextRightPic,
		rightTextLeftPic
	},

	watch:{
		// '$store.state.localePrefix': function(newVal, oldVal) {
		// 	if (newVal != '') {
		// 		this.fetchApi()
		// 	}
		// }
	},


}
</script>

<style lang="sass">



</style>
<style lang="sass" scoped>


</style>