<template lang="pug">

	.section.section__5.beige__bg
		img(
			:src="banner"
		)
		sectionHeader(
			header="領導團隊"
		)
		.container
			.cards__wrapper
				cards(
					data-aos="fade-up"
					v-for="(card, index) in cards" :key="cards.id"
					:img="card.img"
					:title="card.title"
					:name="card.name"
					:desc="card.desc"
					:popText="card.popText"
				)
		


</template>

<script>



import img_8 from '../../assets/images/8.jpg';
import img_9_1 from '../../assets/images/9_1.jpg';
import img_9_2 from '../../assets/images/9_2.jpg';
import img_9_3 from '../../assets/images/9_3.jpg';

import sectionHeader from '@/components/layout/sectionHeader.vue'
import cards from '@/components/layout/cards.vue'


export default {
	name: 'Section5',
	data() {
		return {
			banner: img_8, 
			cards:[
				{
					img:img_9_1,
					title:'營運總監',
					name:'黎嘉峰',
					desc:'黎嘉峰先生是東成總經理及利佳鮮果國際有限公司營運總監，負責公司的全球採購和分銷，關係管理和客戶擴展，風險管理和物流管理。',
					popText: '黎嘉峰先生是東成總經理及利佳鮮果國際有限公司營運總監，負責公司的全球採購和分銷，關係管理和客戶擴展，風險管理和物流管理。<br><br>在東成之前，黎嘉峰先生曾在法國巴黎銀行擔任投資銀行家，幫助大型房地產公司在資本市場籌集資金，提供各種金融諮詢服務，並協助資產和企業層面的併購活動。<br><br>他目前是企業家組織的成員，也是康奈爾酒店協會的委員會成員。他還是 瑞銀LEADS計劃的校友，同時身兼創業家協會成員。<br><br>黎嘉峰先生擁有康奈爾大學商學院酒店管理學士學位，主修投資銀行和企業融資以及副修房地產。'
				},
				{
					img:img_9_2,
					title:'執行董事',
					name:'李冠緯',
					desc:'李冠緯先生是利佳鮮果國際有限公司的執行董事，負責公司的全球採購以及台灣和大陸華中與華北部分公司的分銷。',
					popText: '李冠緯先生是利佳鮮果國際有限公司的執行董事，負責公司的全球採購以及台灣和大陸華中與華北部分公司的分銷。<br><br>在加入利佳以前，李冠緯先生曾在金果貿易公司擔任台灣銷售業務。四年 後，由於傑出業務表現，公司調派北京開拓市場,管理批發貿易以及推動零 售部門。約2015年起，金果更任命其擔任櫻桃品項經理，任職期間代表公司派遣加拿大、美國、智利、南非、日本、韓國、紐西蘭、澳洲等各國採購商談。<br><br>李冠緯先生擁有台灣中原大學企業管理學學士學位。其家族在台灣也從事農業發展，專門種植蘋果、水梨、水蜜桃等農產品。'
				},
				{
					img:img_9_3,
					title:'策略顧問',
					name:'紀奕成',
					desc:'紀奕成先生為和新生鮮有限公司負責人及利佳鮮果國際有限公司策略顧問。',
					popText: '紀奕成先生為和新生鮮有限公司負責人及利佳鮮果國際有限公司策略顧問。<br><br>2008年畢業於台灣大學農業經濟系，輔系國際關係學位。求學期間即對於 農產價格分析與農產品行銷充滿興趣與熱忱。學生時期主辦多次農產品貿 易相關演講，進而接觸了水果貿易業。結束一年義務軍旅生活後，加入台 灣三十年歷史的水果貿易商—鳴和實業，擔任國際採購職務六年，除了負 責採購之產品總額在台灣市場穩定位居前三，期間並為公司成功導入全新 ERP系統，且自主成功開發一套貿易業雲端化訊息管理系統(公開銷售中)。 多次擔任紐西蘭貿易辦事處講師、台灣大學商學院、EMBA講師，美國在 臺協會訪問團接待貿易商代表。<br><br>於2014年成立和新生鮮有限公司擔任負責人迄今，整合業界最傑出的銷售 與採購團隊，設立行銷電商部門為代理產品量身打造行銷企劃亦為業界創舉。<br><br>2019年以史上最年輕紀錄(34歲)擔任台灣水果進口商協會理事長一職迄今 。'
				}
			]

		}
	},
	components: {
		sectionHeader,
		cards,
	},
	methods: {
	},


}
</script>

<style lang="sass">

</style>
<style lang="sass" scoped>
	.cards__wrapper
		display: flex
		background: #fff
		padding: 140px
		margin-top: 175px
		-webkit-box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%)
		box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%)
		@media screen and (max-width: $breakpoint-m )	
			padding: 70px
			margin-top: 100px
		@media screen and (max-width: $breakpoint-th +1)
			-webkit-box-shadow: none
			box-shadow: none
			padding: 0px
			flex-direction: column
			background: transparent
		.cards
			flex: 1
			padding: 0px 50px
			@media screen and (max-width: $breakpoint-th +1)
				padding: 30px
				background: #fff
				margin-bottom: 100px
				-webkit-box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%)
				box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%)
			&:last-child
				padding-right: 0px		
				@media screen and (max-width: $breakpoint-th +1)
					margin-bottom: 0px
					padding: 30px
			&:first-child
				padding-left: 0px		
				@media screen and (max-width: $breakpoint-th +1)
					padding: 30px


</style>