<template lang="pug">

	.section.section__6
		img(
			:src="section6.banner"
		)
		sectionHeader(
			header="協同效應"
			desc="互相補給，實行「一加一大於二」的效應"
		)
		rightTextLeftText(
			leadin="利佳結集各項優勢<br>致力把最優質的帶給顧客"
			tagline="利佳由東成、和新生鮮及李冠緯先生建成。結集獨有專長、<br>優勢及多元化產品互相補足，提供最優質的選擇給予顧客。"
			main_text="東成主打優質品種包括車厘子、香橙、蘋果、提子、藍莓等，<br>其主要來自美國、南非、澳洲及摩洛哥。<br>和新生鮮主打優質品種包括艾菲蘋果、王林蘋果、布冧、黃金果等，<br>其主要來自美國、紐西蘭、台灣、及日本。<br><br>我們的領導團隊黎嘉峰先生、李冠緯先生和紀奕成先生擁有資深豐富水果知識，精於分析及了解市場需要，主力專注台灣、上海和北京銷售市場。"
		)


</template>

<script>



import img_10 from '../../assets/images/10.jpg';

import sectionHeader from '@/components/layout/sectionHeader.vue'
import rightTextLeftText from '@/components/layout/rightTextLeftText.vue'


export default {
	name: 'Section6',
	data() {
		return {

			section6:{
				banner: img_10, 

			},


		}
	},
	components: {
		sectionHeader,
		rightTextLeftText,
	},

	watch:{
		// '$store.state.localePrefix': function(newVal, oldVal) {
		// 	if (newVal != '') {
		// 		this.fetchApi()
		// 	}
		// }
	},


}
</script>

<style lang="sass">

</style>
<style lang="sass" scoped>
	.cards__wrapper
		display: flex
		background: #fff
		padding: 140px
		margin-top: 175px
		-webkit-box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%)
		box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%)
		.cards
			flex: 1
			padding: 0px 50px
			&:last-child
				padding-right: 0px		
			&:first-child
				padding-left: 0px		


</style>