<template lang="pug">

	.section.section__2
		sectionHeader(
			header="關於我們"
		)
		

</template>

<script>



import sectionHeader from '@/components/layout/sectionHeader.vue'


export default {
	name: 'section1',
	data() {
		return {


		}
	},
	components: {
		sectionHeader,
	},

	watch:{
		// '$store.state.localePrefix': function(newVal, oldVal) {
		// 	if (newVal != '') {
		// 		this.fetchApi()
		// 	}
		// }
	},


}
</script>

<style lang="sass">

</style>
<style lang="sass" scoped>


</style>