<template lang="pug">
	.home
		.section.section__1.clearfix
			.swiper__group
				//- .scroll_down__text
				//- 	| SCROLL DOWN
				imageSwiper(
					:slides="banner.slides"
				)
			.text__group(data-aos="fade-up")
				.DINRoundPro(v-html="banner.header")
		#about_us
			section2
		#corp__intro
			section3
		#vision
			section3_2
		#partnership
			section4
		#leading_team
			section5
		#effect
			section6
		#contact_us
			section7


</template>

<script>





import img_1 from '../assets/images/1.jpg';



import imageSwiper from '@/components/layout/imageSwiper.vue'

import section2 from '@/components/sections/section_2.vue'
import section3 from '@/components/sections/section_3.vue'
import section3_2 from '@/components/sections/section_3_2.vue'
import section4 from '@/components/sections/section_4.vue'
import section5 from '@/components/sections/section_5.vue'
import section6 from '@/components/sections/section_6.vue'
import section7 from '@/components/sections/section_7.vue'


export default {
	name: 'Home',
	data() {
		return {
			banner:{
				header: 'FRESH<br>STARTS.',
				slides:[{
					image:img_1,
					href:"#",
				},{
					image:img_1,
					href:"#",
				},{
					image:img_1,
					href:"#",
				}]
			},



		}
	},
	components: {
		imageSwiper,
		section2,
		section3,
		section3_2,
		section4,
		section5,
		section6,
		section7,
	},

	watch:{
		// '$store.state.localePrefix': function(newVal, oldVal) {
		// 	if (newVal != '') {
		// 		this.fetchApi()
		// 	}
		// }
	},


}
</script>

<style lang="sass">
	#corp__intro,
	#vision
		.section
			padding-top: 230px
			margin-bottom: 0px
			padding-bottom: 230px
			@media screen and (max-width: $breakpoint-t )
				padding-top: 60px
				padding-bottom: 60px
				margin-bottom: 0px
	.green__btn
		background-color: $green-color
		color: $white-color
		font-size: 1.7rem
		letter-spacing: 5px
		padding: 15px 40px
		display: inline-block
		@media screen and (max-width: $breakpoint-lg)
			font-size: 1.4rem
		@media screen and (max-width: $breakpoint-s )
			font-size: 1.1rem
		@media screen and (max-width: $breakpoint-xs)
			font-size: 0.8rem
			padding: 10px 40px
	.blue__btn
		background-color: $orange-color
		color: $white-color
		font-size: 1.7rem
		letter-spacing: 5px
		padding: 15px 40px
		display: inline-block
		@media screen and (max-width: $breakpoint-lg)
			font-size: 1.4rem
		@media screen and (max-width: $breakpoint-s )
			font-size: 1.1rem
		@media screen and (max-width: $breakpoint-xs)
			font-size: 0.8rem
			padding: 10px 40px
	.round__radius
		border-radius: 30px
		font-size: 1.1rem
		padding: 10px 40px
	.text__group
		color: #222222
		.header
			font-size: 3.5rem
			padding-bottom: 30px
			color: $orange-color
			@media screen and (max-width: $breakpoint-lg)
				font-size: 2.8rem
			@media screen and (max-width: $breakpoint-s )
				font-size: 2.1rem
			@media screen and (max-width: $breakpoint-xs)
				font-size: 1.4rem
				padding-bottom: 10px
		.desc
			font-size: 1.2rem
			padding-bottom: 60px
			line-height: 2
			text-align: left
			@media screen and (max-width: $breakpoint-lg)
				font-size: 1.1rem
			@media screen and (max-width: $breakpoint-t +1)
				padding-bottom: 30px
			@media screen and (max-width: $breakpoint-xs)
				font-size: 0.8rem
				line-height: 1.3
			@media screen and (max-width: $breakpoint-xxs)
				padding-bottom: 15px
	
	.module
		margin-top: 140px
		&:first-child
			margin-top: 0px


</style>
<style lang="sass" scoped>
	.scroll_down__text
		position: absolute
		left: 5%
		bottom: 23%
		color: #fff
		z-index: 2
		writing-mode: vertical-rl
		text-orientation: mixed
		font-size: 1.5rem
		@media screen and (max-width: $breakpoint-t +1)
			display: none
		&::after
			content: ''
			position: absolute
			background: #fff
			height: 80%
			width: 1px
			/* padding: 0px */
			left: 50%
			transform: translateX(-50%)
			bottom: -100%
	#vision .beige__bg
		padding-top: 0px
		
	.home
		padding-top: 144px
		@media screen and (max-width: $breakpoint-s )
			padding-top: 95px
		.section
			position: relative
		.section__1
			.swiper__group
				position: relative
				display: inline-block
				width: 70%
				@media screen and (max-width: $breakpoint-th +1)
					display: block
					width: 100%
			.text__group
				display: inline-block
				width: 30%
				color: $green-color
				font-size: 6.4rem
				vertical-align: bottom
				text-align: left
				padding-left: 3%
				padding-bottom: 3%

</style>