

@keyframes slideUpAnimation
	0%
		opacity: 0
		transform: translateY(100%)

	100%
		opacity: 1
		transform: translateY(0%)


@keyframes scaleInAnimation
	0%
		transform: scale(1.6)

	100%
		transform: scale(1)

@keyframes bottomSlideInAnimation
	0%
		transform: translateY(100%)

	100%
		transform: translateY(0%)

@keyframes rightSlideInAnimation
	0%
		transform: translateX(100%)

	100%
		transform: translateX(0%)

	
@keyframes leftSlideInAnimation
	0%
		transform: translateX(-100%)

	100%
		transform: translateX(0%)



.routeSlide-enter
	opacity: 0
.routeSlide-enter-active
	animation: slideUpAnimation 1.5s ease-in-out
	animation-fill-mode: forwards
.routeSlide-enter-to
	opacity: 1

.routeSlide-leave
	opacity: 1
.routeSlide-leave-active
	animation: slideUpAnimation 1.5s ease-in-out reverse
	animation-fill-mode: forwards
.routeSlide-leave-to
	opacity: 0




.slide-enter
	opacity: 0
.slide-enter-active
	animation: slideUpAnimation 2s ease-in-out
	animation-fill-mode: forwards
.slide-enter-to
	opacity: 1

.slide-leave
	opacity: 1
.slide-leave-active
	animation: slideUpAnimation 2s ease-in-out reverse
	animation-fill-mode: forwards
.slide-leave-to
	opacity: 0



.scale-enter
	opacity: 0
.scale-enter-active
	animation: scaleInAnimation 2s ease-in-out
	animation-fill-mode: forwards
.scale-enter-to
	opacity: 1

.scale-leave
	opacity: 1
.scale-leave-active
	animation: scaleInAnimation 2s ease-in-out reverse
	animation-fill-mode: forwards
.scale-leave-to
	opacity: 0




.slideBottomFast-enter-active
	animation: bottomSlideInAnimation 0.5s ease-in-out
	animation-fill-mode: forwards


.slideBottomFast-leave-active
	animation: bottomSlideInAnimation 0.5s ease-in reverse
	animation-fill-mode: forwards

.slideRightFast-enter-active
	animation: rightSlideInAnimation 0.5s ease-in-out
	animation-fill-mode: forwards


.slideRightFast-leave-active
	animation: rightSlideInAnimation 0.5s ease-in reverse
	animation-fill-mode: forwards




.slideBottom-enter-active
	animation: bottomSlideInAnimation 2s ease-in-out
	animation-fill-mode: forwards


.slideBottom-leave-active
	animation: bottomSlideInAnimation 2s ease-in reverse
	animation-fill-mode: forwards


.slideRight-enter-active
	animation: rightSlideInAnimation 2s ease-in-out
	animation-fill-mode: forwards


.slideRight-leave-active
	animation: rightSlideInAnimation 2s ease-in reverse
	animation-fill-mode: forwards

.slideLeft-enter-active
	animation: leftSlideInAnimation 2s ease-in-out
	animation-fill-mode: forwards


.slideLeft-leave-active
	animation: leftSlideInAnimation 2s ease-in reverse
	animation-fill-mode: forwards


	
.fade-enter-active,
.fade-leave-active
	transition: opacity .4s ease-out

.fade-enter,
.fade-leave-to
	opacity: 0