$white-color: #fff
$black-color: #000
$green-color: #00ACA0
$orange-color: #F4633A
$yellow-color: #FFB71B
$breakpoint-hd  : 1920px
$breakpoint-l   : 1600px
$breakpoint-lg  : 1440px
$breakpoint-m   : 1366px
$breakpoint-s   : 1280px
$breakpoint-th  : 1024px
$breakpoint-md  : 991px
$breakpoint-t   : 768px
$breakpoint-tp  : 767px
$breakpoint-xs  : 550px
$breakpoint-xxs  : 420px
$breakpoint-xxxs : 375px
$breakpoint-xxxxs: 320px
@mixin reset-link
	margin: 0
	padding: 0

@mixin font-weight-normal
	font-weight: normal

@mixin font-weight-light
	font-weight: 300
