<template>
	<div id="app" >
		<appHeader />
		<router-view/>
		<appFooter />
		<popup />
	</div>
</template>

<script>

import appHeader from '@/components/layout/appHeader.vue'
import appFooter from '@/components/layout/appFooter.vue'
import popup from '@/components/layout/popup.vue'
export default {
	components: {
		appHeader,
		appFooter,
		popup,
	},
	created(){
        document.title = "LICA"
    },
	data() {
		return {

		}
	},
	watch: {

	},
	mounted() {

	},
	methods: {

	},
}
</script>

<style lang="sass">
@import './node_modules/vue-select/src/scss/vue-select.scss'
@import 'assets/_variables.sass'
@import 'assets/_transition.sass'
@import 'assets/fonts/stylesheet.css'







// html
// 	overflow-y: scroll
html,
body,
#app
	overflow-x: hidden
	min-height: 100vh
	height: auto
	font-size: 14px
	@media screen and (max-width: $breakpoint-s)
		font-size: 12px
	@media screen and (max-width: $breakpoint-t)
		font-size: 10px
	@media screen and (min-width: $breakpoint-t)
		height: auto
		min-height: auto
		&.isLoading
			overflow: hidden !important

*
	box-sizing: border-box
	text-align: left
	font-family: 'Helvetica', Arial, sans-serif !important


*:focus-visible
	outline: none

.clearfix::after
	content: ""
	clear: both
	display: table


.container
	width: 100%
	margin: 0 auto
	z-index: 2
	position: relative
	max-width: 1500px
	@media screen and (max-width: $breakpoint-l+1 )
		max-width: $breakpoint-lg
	@media screen and (max-width: $breakpoint-lg+1 )
		max-width: $breakpoint-m
	@media screen and (max-width: $breakpoint-m+1 )
		max-width: $breakpoint-s
	@media screen and (max-width: $breakpoint-s+1 )
		max-width: $breakpoint-th
	@media screen and (max-width: $breakpoint-th+1 )
		max-width: $breakpoint-md
	@media screen and (max-width: $breakpoint-md+1 )
		max-width: $breakpoint-t
	@media screen and (max-width: $breakpoint-t+1 )
		max-width: 90%



button,a
	text-decoration: none
	color: inherit
	border: none
	cursor: pointer
	font-size: inherit
	line-height: inherit
	font-weight: inherit
	font-family: inherit !important
button
	@media screen and (min-width: $breakpoint-t)
		max-width: 300px

.mask
	width: 100%
	height: 100%
	background-color: #F8F8F8
	position: fixed
	z-index: -1
	top: 0px
	left: 0px
	opacity: 0
	// transition: all ease-in-out 0.4s
	&.roleDetailPopOpened
		z-index: 3
		// transition: all ease-in-out 0.4s
		opacity: 0.8
	&.generalMask
		z-index: 11
		// transition: all ease-in-out 0.4s
		opacity: 0.8


#app
	font-family: 'Helvetica', Arial, sans-serif !important
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-align: center
	color: #000
	overflow: hidden
	max-height: 100%



h1
	font-size: 32px
	line-height: 36px
	@include reset-link
	@include font-weight-normal
h2
	font-size: 1.4rem
	line-height: 30px
	@include reset-link
	@include font-weight-normal
h3
	font-size: 14px
	line-height: 20px
	@include reset-link
	@include font-weight-normal
h4
	font-size: 12px
	line-height: 18px
	@include reset-link
	@include font-weight-normal



.DINRoundPro
	font-family: 'DINRoundPro','Helvetica', Arial, sans-serif !important
	font-weight: bold
	font-style: normal

.DINRoundPro_medi
	font-family: "DINRoundPro-Medi", "Helvetica", Arial, sans-serif !important
	font-family-font-weight: 500
	font-family-font-style: normal
img
	width: 100%


#nav 
	padding: 30px
	a 
		font-weight: bold
		color: #2c3e50
		&.router-link-exact-active 
			color: #42b983


.beige__bg
	background-color: #ffb81c1a
	// padding: 230px 0px
	margin-bottom: 230px
	&>*
		position: relative
		z-index: 2
	&:after
		content: ""
		position: absolute
		left: 0px
		top: 0px
		width: 40%
		background: #fff
		height: 100%
	&+.beige__bg
		padding-bottom: 230px
		padding-top: 0px


.page
	&__padding
		padding-top: 30px
		position: relative
		@media screen and (max-width: $breakpoint-tp)
			padding-top: 85px
			margin-top: 0px
	&__wrapper
		width: 100%
		margin: 0 auto
		padding: 0px 40px
		@media screen and (max-width: $breakpoint-xs)
			padding: 0px 20px
		@media screen and (min-width: $breakpoint-t)
			width: 100%
			max-width: 600px
			padding-bottom: 30px
		@media screen and (min-width: $breakpoint-s)
			padding: 0px



</style>
